*,
::before,
::after {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

:root {
  /* palette */
  --main-white: #dddddd;
  --shade-white: #d3d3d3;
  --main-black: #181818;
  --main-green: #71A842;
  --dark-green: #1c5e36;

  /* Fonts */
  --base-font: 'Source Sans Pro', sans-serif;
  --title-font: 'Oswald', sans-serif;

  /* Font-size */
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-36: 2.25rem;
  /*--fs-42: 2.625rem;
  --fs-50: 3.125rem; */
  --fs-60: 4rem;
  --fs-72: 4.5rem;

}

body {
  font-family: var(--base-font);
}

/*================================ global utility classes =============================*/
.section-title {
  font-family: var(--title-font);
  font-size: var(--fs-30);
  text-transform: uppercase;
  margin-top: 8%;
  margin-bottom: 8%;
  text-align: center;

  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 20px;
  color: var(--dark-green);

}

.section-subtitle {
  font-family: var(--title-font);
  font-size: var(--fs-24);
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}



/*=================================== landing page =====================================*/

.main-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;

  display: flex;
  order: 1;

  padding: 6px;
  background-color:white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-nav ul {
  padding: 52px 0 0;
  display: none;
  flex-direction: column;
  list-style: none;
}

.main-nav a {
  font-size: var(--fs-30);
  font-family: var(--title-font);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav .Make-donation {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-14);
  min-width: 120px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: auto 30px auto auto;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--main-green);
  font-family: var(--base-font);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-white); 
}


.main-nav ul li {
  margin: 10px 0;
}

.nav-toggler img {
  width: 30px;
  margin-right: 30px;
}

/* pour la class activ Js */

.main-nav.active {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(ressources/Mobile/Topo-fond-menue.png);
  background-size: cover;
}

.main-nav.active > .nav-toggler > img {
  margin-right: auto;
}

.main-nav.active ul {
  display: flex;
  text-align: center;
}

.logo-head {
  margin: 15px auto 15px 20px;
}

.nav-toggler {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}


.main-nav.active .nav-toggler {
  margin: 50px auto 30px auto;
}

.landing{
  /* géré le probleme de la hauteur*/
  min-height: 644px;
  padding-top: 200px;
  background-image: url(ressources/BG.png);
  background-size: cover;
  background-position: 40% 20%;
  position: relative;
  text-align: center;
}


.main-title{
  font-family: var(--title-font);
  font-size: var(--fs-30);
  color: var(--main-white);
  font-weight: 900;
  margin-top: 150px;
}

hr {
  display: inline-flex;
  align-items: center;
  width: 25%;
  border: 2px solid var(--main-white);

}

.main-subtitle {
  font-size: var(--fs-28);
  margin: 28px;
  color: var(--shade-white);
  font-weight: 400;
}

.Learn-more, 
.abonner {
  min-width: 150px;
  padding: 12px 5px;
  border-radius: 5px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-green);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: white;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);;

}

.mediaS {
  margin: 100px auto;
  padding-bottom: 50px;
}

.mediaS img {
  width: 40px;
}

.mediaS :nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}

.push-down {
  display: none;
}

main {
  width: 100vw;
}

/* ========================== card (grid) ========================== */

.globale-une {
  margin-top: 45px;
}

.card,
.card2, 
.card3, 
.card4 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-areas: 
    "cell cell cell cell"
    "cell2 cell2 cell2 cell2"
    "cell3 cell3 cell3 cell3";

  justify-content: center;
  align-content: center;
  grid-gap: 1rem;
  margin-bottom: 50px;
}

.card-img,
.card-img2, 
.card-img3, 
.card-img4 {
  grid-row: cell-start / cell2-end ;
  grid-column: cell-start / cell2-end;
  width: 100%;
}

.card-txt,
.card-txt2, 
.card-txt3, 
.card-txt4 {
  grid-row: cell2-start / cell3-end ;
  grid-column: cell2-start / cell3-end;
  text-align: center;

  z-index: 1;
  margin: auto auto 0 auto;
  padding: var(--fs-16);
  width: 80%;
  height: auto;

  background-color: rgba(255, 255, 255, .8);
  box-shadow: 3px 3px 1px 1px rgba(113, 168, 66, .2);
}

/**/

/*============================== Nos action section (grid) ==============================*/

.globale-action{
  margin-top: 70px;
}

.action-sensibilisation,
.action-ressources, 
.ensemble-don, 
.ensemble-engager {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-areas:
    "durable durable durable durable"
    "labou labou labou labou";

  justify-content: center;
  align-content: center;
  grid-gap:1rem;
}


.durable, 
.don {
  grid-area: durable;
  z-index: 1;
  margin-top: auto;
  margin-bottom: auto;

  color: var(--main-white);
  font-size: var(--fs-30);
}


.durable-img, 
.don-img {
  grid-area: durable;
  width: 100%;
}


.labou, 
.engager {
  grid-area: labou;
  z-index: 1;

  margin-top: auto;
  margin-bottom: auto;

  color: var(--main-white);
  font-size: var(--fs-30);
}

.labou-img, 
.engager-img {
  grid-area: labou;
  width: 100%;
}

/*================================= Section ACTUALITES =================================*/

.actualite {
  margin-top: 24%;
  margin-bottom: 24%;
}

.actualite ul{
  margin: 70px auto 70px auto;
  width: 90%;
  list-style: none;
}

.actualite ul li{
  margin-top: 50px;
}

/***** button actu *****/

.actu-link {
  text-align: center;
}

.actu-link a {
  font-family: var(--title-font);
  font-size: var(--fs-18);
  color: darkgreen;
  background-color: white;

  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 25px 11px 25px;
  border: 3px solid var(--dark-green);

  cursor: pointer;
}

/*================================== ensemble =====================================*/
.ensemble {
  margin-bottom: 10%;
}

.don, 
.engager {
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}

/*==================================== info =====================================*/
.info {
  text-align: center;
  margin-bottom: 100px;
  padding: 0 1rem 0 1rem;
}

.info-title{
  text-decoration: none;
  margin-bottom: 25px;
}

.abonner {
  margin-top: 25px;
}

/*==================================== footer ====================================*/
footer {
  padding: 15px;
  background-image: url(ressources/Mobile/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-size: var(--fs-14);
  color: white;
}

.ta-txt {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer > hr {
  width: 100%;
  height: 1px;
  border-top: none;
}

.maission-footer {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: 
    "part  part2";
  grid-gap: 1rem;

  margin: 30px auto 30px auto;
}

.maission-footer img {
  grid-area: part;
  width: 100%;
}

.tiitle-mission-footer {
  margin-bottom: 5px;
  text-align: left;
  font-size: var(--fs-20);
}

.mention {
  margin-top: 30px;
}

.footer-sociale {
  margin-top: 30px;
  text-align: center;
}

.socialFooter {
  margin-top: 30px;
  margin-bottom: 30px;
}





/*==============================================================================*/


@media screen and (min-width: 640px) {
  /*le css ici s'applisuera aux écrans de 640px minimum*/

  .push-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-green);
    border: 1px solid var(--main-white);

    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .push-down img{
    width: 25px;
    pointer-events: none;
  }

  .main-title {
    font-size: var(--fs-36);
  }

  .main-subtitle {
    font-size: var(--fs-18);
  }

  main {
    width: 70vw;
    margin: 0 auto 0 auto;
  }

}

/****************************************************************/

@media screen and (min-width: 1024px){

  /*le css ici s'applisuera aux écrans de 840px minimum*/

    .nav-toggler {
      display: none;
    }

    .main-nav ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
      padding: 0;
      margin-left: 40px;

    }

    .main-nav a {
      color: var(--main-black);
      font-size: var(--fs-16);
      text-align: center;
      margin: 0 10px;
      padding: 5px;
      

    }

    .main-nav a:hover{
      text-decoration: underline solid var(--main-green);
      text-decoration-thickness: 3px;
      text-underline-offset: 10px;
    }

  .main-nav .Make-donation::before {
    content: "";
    display: inline-block;
    background: url(ressources/pack/faire-un-don.svg) no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .landing {
    min-height: 900px;
    text-align: left;
    padding-left: 100px;
  }

  .main-title {
    font-size: var(--fs-60);
    width: 50%;
  }

  hr {
    width: 10%;
  }

  .main-subtitle {
    margin-left: 0;
    width: 30%;
    font-size: var(--fs-20);
  }

  .mediaS {
    display: none;
  }

  main {
    width: 70vw;
    margin: 0 auto 0 auto;
  }

  .card-txt,
  .card-txt2, 
  .card-txt3, 
  .card-txt4 {
    height: 200px;
  }


  .globale-une {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
      "cell  cell2"
      "cell3 cell4";
  }

  .globale-action, 
  .globale-ensemble {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "cell  cell2";
  }

  .action-sensibilisation, 
  .action-ressources, 
  .ensemble-don, 
  .ensemble-engager {
    grid-gap: 0;
  }

  .ensemble {
    margin-bottom: 5%;
  }


  .actu-link a:hover {
    background-color: #72a84254;
  }  

  .don:hover, 
  .engager:hover {
    text-decoration: underline solid var(--dark-green);
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
  
  }

}
