*,
::before,
::after {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

:root {
  /* palette */
  --main-white: #dddddd;
  --shade-white: #d3d3d3;
  --main-black: #181818;
  --main-green: #71A842;
  --dark-green: #1c5e36;

  /* Fonts */
  --base-font: 'Source Sans Pro', sans-serif;
  --title-font: 'Oswald', sans-serif;

  /* Font-size */
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  --fs-36: 2.25rem;
  /*--fs-42: 2.625rem;
  --fs-50: 3.125rem; */
  --fs-60: 4rem;
  --fs-72: 4.5rem;

}

body {
  font-family: var(--base-font);
}

/*====================================== global utility classes ===============================*/
.section-title {
  font-family: var(--title-font);
  font-size: var(--fs-30);
  text-transform: uppercase;
  margin-bottom: 8%;
  text-align: center;

  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 20px;
  color: var(--dark-green);

}

.section-subtitle {
  font-family: var(--title-font);
  font-size: var(--fs-24);
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}



/*========================================= landing page =====================================*/

.main-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;

  display: flex;
  order: 1;

  padding: 6px;
  background-color:white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-nav ul {
  padding: 52px 0 0;
  display: none;
  flex-direction: column;
  list-style: none;
}

.main-nav a {
  font-size: var(--fs-30);
  font-family: var(--title-font);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav .Make-donation {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-14);
  min-width: 120px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: auto 30px auto auto;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--main-green);
  font-family: var(--base-font);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-white); 
}


.main-nav ul li {
  margin: 10px 0;
}

.nav-toggler img {
  width: 30px;
  margin-right: 30px;
}

/* pour la class activ Js */

.main-nav.active {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(ressources/Mobile/Topo-fond-menue.png);
  background-size: cover;
}

.main-nav.active > .nav-toggler > img {
  margin-right: auto;
}

.main-nav.active ul {
  display: flex;
  text-align: center;
}

.logo-head {
  margin: 15px auto 15px 20px;
}

.nav-toggler {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: start; baseline */
  background: none;
  border: none;
  cursor: pointer;
}


.main-nav.active .nav-toggler {
  margin: 50px auto 30px auto;
}

.landing{
  /* géré le probleme de la hauteur*/
  min-height: 644px;
  padding-top: 200px;
  background-image: url(ressources/BG.png);
  background-size: cover;
  background-position: 40% 20%;
  position: relative;
  text-align: center;
}


.main-title{
  font-family: var(--title-font);
  font-size: var(--fs-30);
  color: var(--main-white);
  font-weight: 900;
  margin-top: 150px;
}

hr {
  display: inline-flex;
  align-items: center;
  width: 25%;
  border: 2px solid var(--main-white);

}

.main-subtitle {
  font-size: var(--fs-28);
  margin: 28px;
  color: var(--shade-white);
  font-weight: 400;
}

.Learn-more {
  min-width: 150px;
  padding: 12px 5px;
  border-radius: 5px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-green);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-white);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);;

}

.mediaS {
  margin: 100px auto;
}

.mediaS img {
  width: 40px;
}

.mediaS :nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}

.push-down {
  display: none;
}

/* ========================== card ========================== */

.laUne {

  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card img {
  width: 90vw;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-txt {
  width: 70vw;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -125px;
  padding: 0 1rem 0 1rem;
}

.section-subtitle {
  text-align: center;
  margin: 1.5rem auto 1.5rem auto;
  
}

.section-paragraphe {
  text-align: center;
  margin-bottom: 1rem;
}

/*=================================== Nos action section =================================*/






/*==============================================================================*/


@media screen and (min-width: 640px) {
  /*le css ici s'applisuera aux écrans de 640px minimum*/

  .push-down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-green);
    border: 1px solid var(--main-white);

    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .push-down img{
    width: 25px;
    pointer-events: none;
  }

  .main-title {
    font-size: var(--fs-36);
  }

  .main-subtitle {
    font-size: var(--fs-18);
  }

  .card img {
    width: 60vw;
  }

  .card-txt {
    width: 50vw;
  }
}



@media screen and (min-width: 1024px){

  /*le css ici s'applisuera aux écrans de 840px minimum*/

  .nav-toggler {
    display: none;
  }

  .main-nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    margin-left: 40px;

  }

  .main-nav a {
    color: var(--main-black);
    font-size: var(--fs-16);
    text-align: center;
    margin: 0 10px;
    padding: 5px;
    

  }

  .main-nav a:hover{
    text-decoration: underline solid var(--main-green);
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
  }

.main-nav .Make-donation::before {
  content: "";
  display: inline-block;
  background: url(ressources/pack/faire-un-don.svg) no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.landing {
  min-height: 900px;
  text-align: left;
  padding-left: 100px;
}

.main-title {
  font-size: var(--fs-60);
  width: 50%;
}

hr {
  width: 10%;
}

.main-subtitle {
  margin-left: 0;
  width: 30%;
  font-size: var(--fs-20);
}

.mediaS {
  display: none;
}

.card img {
  width: 40vw;
}

.card-txt {
  width: 30vw;
}


}
