*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* palette */
  --main-white: #dddddd;
  --shade-white: #d3d3d3;
  --main-black: #181818;
  --main-green: #71A842;
  --dark-green: #1c5e36;

  /* Fonts */
  --base-font: 'Source Sans Pro', sans-serif;
  --title-font: 'Oswald', sans-serif;

  /* Font-size */
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-30: 1.875rem;
  /* --fs-36: 2.25rem;
  --fs-42: 2.625rem;
  --fs-50: 3.125rem; */
  --fs-60: 4rem;
  --fs-72: 4.5rem;

}

body {
  font-family: var(--base-font);
}



/*image de bg top*/

/* .bg-top{
  background-image: url(ressources/hed-top-BG.png);
  background-color:transparent;
  height: 20px;
}


.main-nav ul {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style-type: none;
}

.main-nav a {
  margin: 0 37px;

  // pour animer la nav bar
  padding: 8px;
  color: var(--main-black);
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline var(--main-green);
  text-underline-offset: 15px;
  text-decoration-thickness: 5px;
}

.nav-toggler {
  display: none;
}

.main-nav .nav-icon{
  width: 20px;
} */

/*-------------------------------- mobile first -------------------------------------*/
.logo-head {
  display: none;
}

.main-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;

  display: flex;
  order: 1;

  padding: 6px;
  background-color:white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-nav a {
  font-size: var(--fs-14);
  margin: 0 37px;
  padding: 6px;
  color: var(--main-black);
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul {
  padding: 52px 0 20px;
  display: none;
  flex-direction: column;
}

.main-nav ul li {
  margin: 6px 0;
}

/* pour la class activ Js */

.main-nav.active ul {
  display: flex;
}

.nav-toggler {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  align-self: baseline;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-toggler img {
  width: 20px;
}




@media screen and (min-with: 600px) {
  /*le css ici s'applisuera aux écrans de 600px minimum*/
}